form {
    width: auto;
    float: right;
    margin-right: 30px;
  }
  input {
    width: 300px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #a7a5a1;
    outline: none;
    position: relative;
    
  }
  
  button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
  }
  button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
  }