header {
    padding: 30px 0 30px 0;
    background: #343a40;
    color:#fff;
    text-align: center;
    background-image: url("./Danganronpa\ V3_\ Killing\ Harmony\ 26.06.2023\ 15_05_48.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1880px 300px;
    
  }
  
header h1 {
    display: inline;
    margin-left: 35px;
    font-weight: 300;
  }